@import '../../Assets/styling/_variable.scss';

.contacts {
  font-size: 13px !important;
  .contacts--header {

  }
  .contacts--dropdown {
    position: absolute;
    right: 0;
    .btn {
      &.dropdown-toggle {

      }
    }
    .dropdown-menu {
      box-shadow: 3px 4px 9px 3px #cfcfcf;
      padding: 5px 15px;
      min-width: 200px;
      border: none;
      transform: translate(-80%, 50px) !important;
      .dropdown-menu--list {
        padding: 5px;
        display: flex;
        align-items: center;
        font-size: 13px !important;
        label {
          padding: 0px 5px;
          margin: 0;
        }
      }
    }
  }
}