.add-contact {
  padding: 10px 20px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  form {
    > div {
      padding-bottom: 7px;
      label {
        margin-bottom: 5px;
      }
    }
    .text-danger {
      font-size: 12px;
    }
  }
}