@import './assets/styling/variable';

@font-face {
  font-family: 'Lexend-Regular';
  src: local('Lexend-Regular'), url(./Assets/font/Lexend/Lexend-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-SemiBold';
  src: local('Lexend-SemiBold'), url(./Assets/font/Lexend/Lexend-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-Bold';
  src: local('Lexend-Bold'), url(./Assets/font/Lexend/Lexend-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-Medium';
  src: local('Lexend-Medium'), url(./Assets/font/Lexend/Lexend-Medium.ttf) format('truetype');
}

.root {
  font-family: "Lexend-Regular", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

body {
  margin: 0;
  font-family: "Lexend-Regular", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-primary {
  background: $theme-color !important;
  border: 1px $theme-color !important;
  font-weight: 600 !important;
  box-shadow: 0px 3px 3px 0px #0000000d !important;
  font-size: 13px !important;
}

.btn-secondary {
  background: $theme-light-color !important;
  border: 1px $theme-light-color !important;
  font-weight: 600 !important;
  color: $theme-text !important;
  box-shadow: 0px 3px 3px 0px #0000000d !important;
  font-size: 13px !important;
}

.c-pointer {
  cursor: pointer;
}

.font-semi-bold {
  font-family: 'Lexend-SemiBold';
}
