$theme-color: #33BC7E;
$theme-light-color: #daffef;
$nav-bar-color: #272937;
$default-light-color: #FFFFFF;
$border-color: #DEE2E6;
$background-grey: #F4F5F5;

$theme-text: #33BC7E;
$default-text: #000000;
$default-light-text: #FFFFFF;
